body{
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}
.intro{
    background-image: url("images/SaiGon.jpg");
    background-color: aquamarine;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    padding: 0;
    margin: 0;
    height: 40vh;
    min-height: 200px;
    width: 100%;
    align-items: center;
    
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

}
.intro h1{
    width: fit-content;
    height: fit-content;
    backdrop-filter: blur(3px);
    color:aliceblue;
    padding: 5px 10px;
    border-radius: 25%;

    font-size: max(5vw, 24px);
    min-font
}
.intro h2{
    width: fit-content;
    height: fit-content;
    backdrop-filter: blur(3px);
    color:aliceblue;
    padding: 5px 10px;
    border-radius: 25%;
    align-self: center;
}